<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dashboard</title>
  </head>
  <body>
    <div class="main">
      <h1 class="header">MaintReq Online!</h1>
      <div class="menu">
        <div class="list-item">
          <a href="/order">Make a new Maint request here!</a>
        </div>
        <div class="list-item"><a>link 2</a></div>
        <div class="list-item"><a>link 3</a></div>
        <div class="list-item"><a>link 4</a></div>
      </div>
      <div class="task-view">Tasks to complete</div>
      <div class="footer">
        <p>
          Author: Dannohh!!<br />
          <a href="">dtwomey13@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
