<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/workOrder.css" />
    <title>Request</title>
  </head>
  <body style="height: 100vh">
    <h1>New Maintenance Request</h1>
    <form action="https://maintreq.herokuapp.com/order" method="POST">
      <label for="name"></label>
      <input
        class="textInput"
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
      />
      <label for="houseNumber"></label>
      <input
        class="textInput"
        type="text"
        id="houseNumber"
        name="houseNumber"
        placeholder="Your house number"
      />
      <label for="streetName"></label>
      <input
        class="textInput"
        type="text"
        id="streetName"
        name="streetName"
        placeholder="Your street Name"
      />
      <textarea
        type="text"
        class="textArea"
        id="textArea"
        name="textArea"
      ></textarea>

      <button class="button">Submit Order</button>
    </form>

    <script src="/javascript/index.js"></script>
  </body>
</html>
